<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hrmis?useUnicode=true&amp;characterEncoding=UTF8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">qinyuan</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.timeout">5000</property>
        <property name="hibernate.c3p0.max_statements">100</property>
        <property name="hibernate.c3p0.validate">true</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">false</property>
		<property name="current_session_context_class">thread</property>

		<mapping resource="qinyuan/hrmis/dao/TargetPlace.hbm.xml"/>
		<mapping resource="qinyuan/hrmis/dao/Post.hbm.xml"/>
		<mapping resource="qinyuan/hrmis/dao/Customer.hbm.xml"/>
		<mapping resource="qinyuan/hrmis/dao/Demand.hbm.xml"/>
		<mapping resource="qinyuan/hrmis/dao/SimpleDemand.hbm.xml"/>
		<mapping resource="qinyuan/hrmis/dao/SimpleUser.hbm.xml"/>
		<mapping resource="qinyuan/hrmis/dao/Resume.hbm.xml"/>
		<mapping resource="qinyuan/hrmis/dao/SimpleSource.hbm.xml"/>
		<mapping resource="qinyuan/hrmis/dao/Gender.hbm.xml"/>
		<mapping resource="qinyuan/hrmis/dao/Source.hbm.xml"/>

	</session-factory>

</hibernate-configuration>