td.split {
	width: 100px;
}

td span {
	color: red;
}

#addButtonDiv {
	position: fixed;
	left: 0;
	top: 350px;
	cursor: pointer;
}

#parseResumeButton {
	cursor: pointer;
}

#telSearchDiv {
	position: absolute;
	top: 750px;
	left: 200px;
	padding: 10px;
	border-radius: 10px;
	display: none;
}

#telSearchTableDiv {
	maring: 15px;
}