td.split {
	width: 100px;
}

td span {
	color: red;
}

#addButtonDiv {
	position: fixed;
	left: 0;
	top: 350px;
	cursor: pointer;
}

#searchRepeatDiv {
	position: fixed;
	left: 0;
	top: 200px;
	padding: 7px;
	background-color: lightgray;
	border-radius: 0 10px 10px 0;
}

#searchRepeatResultDiv {
	margin: 8px;
	color: green;
}

#searchRepeatDiv p {
	margin: 8px;
}

#searchRepeatDiv input {
	width: 110px;
}

#parseResumeButton {
	cursor: pointer;
}

#telSearchDiv,#resumeNoSearchDiv {
	position: fixed;
	top: 80px;
	left: 200px;
	padding: 10px;
	border-radius: 10px;
	display: none;
}

#telSearchTableDiv,#resumeNoSearchTableDiv {
	maring: 15px;
}